<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.mapper.PlantSpeciesMapper">

    <resultMap id="BaseResultMap" type="com.gms.pojo.PlantSpecies">
            <id property="speciesId" column="species_id" />
            <result property="speciesName" column="species_name" />
            <result property="createdTime" column="created_time" />
    </resultMap>

    <sql id="Base_Column_List">
        species_id,species_name,created_time
    </sql>
</mapper>
